<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Result</title>
</head>
<body>
    <h1>Your choice: {{ user_choice }}</h1>
    <h2>Computer's choice: {{ comp_choice }}</h2>
    <h3>{{ winner }}</h3>
    <img src="{{ url_for('static', filename=user_img) }}" alt="Your Choice">
    <img src="{{ url_for('static', filename=comp_img) }}" alt="Computer's Choice">
</body>
</html>
